/* PassengerDashboard styles */
.dashboard-container {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
}

.req-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.request {
    height: 130px;
    width: auto;
}

/* DriverDashboard styles */