.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;
}

.vehicle {
  width: 80px;
  height: 40px;
  background: url("/images/busPicx.png") no-repeat center;
  background-size: contain;
  animation: drive 2s linear infinite;
}

@keyframes drive {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-100px);
  }
}

.loading-container p {
  margin-top: 15px;
  font-size: 18px;
  color: var(--text-primary);
  font-weight: bold;
  transition: color 0.3s ease;
}
