.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(51, 48, 48);
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box; /* Respects padding */
}


.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
  
.navbar-logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
  
.navbar-toggle {
  display: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  width: 10px;
  height: auto;
  margin-top: -12px;
}
  
.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
  
.navbar-links a {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-links button  {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
  
.navbar-links button:hover,
.navbar-links a:hover {
  color: #ddd;
}

.logout-btn {
  width: 8px;
  margin-right: 2.7rem;
}
  
/* Sidebar (for mobile) */
.sidebar {
  display: none;
}
  
/* Mobile view */
@media (max-width: 768px) {
 .navbar-logo {
    font-size: 1.2rem;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #333;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 220px;
    padding: 2rem 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 9999;
  }

   .sidebar.open {
    right: 0;
  }

  .sidebar a,
  .sidebar button {
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;
  }

  .sidebar a:hover,
  .sidebar button:hover {
    color: #ddd;
  }

  .close-btn {
    align-self: flex-end;
    font-size: 1.5rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}