/* body {
  background: linear-gradient(90deg, #a6a6a6, #888787);
  height: "100vh";
} */

html,
body {
  background: linear-gradient(90deg, #a6a6a6, #888787);
  /* background: #ececec; */
  height: "100vh";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    /* background: #ececec; */
    overflow-x: hidden;
    width: 100%;
  }
}

/* Reusable form styles */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-input,
.form-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.form-input:focus,
.form-select:focus {
  border-color: #007bff;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
